.wrapper {
  background: #333;
}

.logo {
  padding: 30px;
  width: 255px;
}

// Toggle button

.menuButton,
.menuButton::before,
.menuButton::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menuButton::before {
  content: '';
  margin-top: -8px;
}

.menuButton::after {
  content: '';
  margin-top: 8px;
}

.menuToggle {
  display: none;
}

.menuToggle:checked + .menuButtonContainer .menuButton::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

.menuToggle:checked + .menuButtonContainer .menuButton {
  background: rgba(255, 255, 255, 0);
}

.menuToggle:checked + .menuButtonContainer .menuButton::after {
  margin-top: 0px;
  transform: rotate(-45deg);
}

// Menu

.menu {
  display: none;
}

.menuToggle:checked ~ .menu {
  display: block
}

.subMenuItems {
  display: none;
}

.subMenu:hover .subMenuItems {
  display: block;
}

.subMenuItems a {
  display: block;
  text-align: left;
}

@media (min-width: 600px) {
  .menuButtonContainer {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu {
    text-align: right;
    padding-right: 5px;
  }

  .menu a, .subMenu span {
    display: inline-block;
    padding: 5px;
  }

  .subMenu {
    display: inline-block;
    padding: 5px;
  }

  .subMenuItems {
    position: absolute;
  }
}
